In [73]:
from pandas import Series,DataFrame
import pandas as pd

data = pd.read_csv(r"child.csv", sep=",", index_col=0)

In [74]:
data.shape

(30, 21)

In [75]:
data.describe

<bound method NDFrame.describe of                  Average.disposable.income  Children.in.poor.homes  \
Australia                        20.813221               11.791352
Austria                          22.162446                6.166094
Belgium                          21.401153                9.974720
Canada                           25.606245               15.057585
Czech Republic                   10.849270               10.270000
Denmark                          23.175894                2.740000
Finland                          22.027651                4.170000
France                           18.960382                7.640000
Germany                          19.894067               16.289270
Greece                           17.183647               13.230296
Hungary                           9.463130                8.724203
Iceland                          22.286852                8.250000
Ireland                          22.364689               16.299416
Italy                            17.180761               15.500000
Japan                            22.479705               13.688033
Korea                            21.651918               10.746834
Luxembourg                       34.241822               12.390000
Mexico                            5.335074               22.164514
Netherlands                      25.041012               11.526755
New Zealand                      17.197108               15.000000
Norway                           28.574371                4.600000
Poland                            7.939399               21.500000
Portugal                          3.839462               16.550398
Slovak Republic                   7.797596               10.930000
Spain                            16.430249               17.300000
Sweden                           19.916998                3.969106
Switzerland                      24.651815                9.433293
Turkey                            5.071860               24.590000
United Kingdom                   22.697062               10.080000
United States                    29.196531               20.593932

                 Educational.Deprivation  Overcrowding  \
Australia                            2.2     19.700000
Austria                              0.6     34.014601
Belgium                              1.0     12.614505
Canada                               2.1           NaN
Czech Republic                       1.2     58.899347
Denmark                              0.7     17.552965
Finland                              1.0     15.228876
France                               1.2     20.284619
Germany                              0.5     19.967763
Greece                               6.1     54.922056
Hungary                              2.1     73.306021
Iceland                              0.4     21.652526
Ireland                              2.9     16.429028
Italy                                1.2     47.851602
Japan                                5.6     22.540000
Korea                                1.8           NaN
Luxembourg                           1.1     16.893185
Mexico                              13.7     69.600000
Netherlands                          0.6     10.326503
New Zealand                          2.2     31.000000
Norway                               1.3     15.113671
Poland                               2.1     73.957667
Portugal                             1.4     31.952303
Slovak Republic                      3.8     68.356284
Spain                                0.9     10.831831
Sweden                               1.6     20.011460
Switzerland                          0.7           NaN
Turkey                              13.6           NaN
United Kingdom                       1.8     21.497427
United States                        4.8     26.200000

                 Poor.environmental.conditions  Average.mean.literacy.score  \
Australia                            10.500000                       520.00
Austria                              20.154186                       502.00
Belgium                              29.754526                       510.33
Canada                                     NaN                       529.33
Czech Republic                       29.748594                       502.00
Denmark                              20.151467                       501.00
Finland                              22.802362                       552.67
France                               25.830298                       493.00
Germany                              37.374708                       505.00
Greece                               25.070654                       464.00
Hungary                              22.213785                       492.33
Iceland                              15.534688                       493.67
Ireland                              19.300100                       508.67
Italy                                32.577363                       468.67
Japan                                32.380000                       517.33
Korea                                      NaN                       541.67
Luxembourg                           25.574231                       485.00
Mexico                                     NaN                       408.67
Netherlands                          38.712874                       521.00
New Zealand                                NaN                       524.33
Norway                               11.992789                       487.00
Poland                               22.841904                       500.33
Portugal                             33.457898                       470.67
Slovak Republic                      27.348691                       482.00
Spain                                31.683347                       476.33
Sweden                               15.746422                       504.00
Switzerland                                NaN                       513.67
Turkey                                     NaN                       431.67
United Kingdom                       29.069052                       501.67
United States                        25.400000                       481.50

                 Literacy.inequality  Youth.NEET.rate  Low.birth.weight  \
Australia                   1.610349              7.4               6.4
Austria                     1.716942              6.9               6.8
Belgium                     1.740258              6.2               7.8
Canada                      1.573912              6.1               5.9
Czech Republic              1.743012              5.3               6.7
Denmark                     1.594974              4.3               4.9
Finland                     1.475432              5.2               4.1
France                      1.728004              6.2               6.8
Germany                     1.719702              4.4               6.8
Greece                      1.722499              9.8               8.8
Hungary                     1.620710              6.4               8.2
Iceland                     1.654064              NaN               3.9
Ireland                     1.590217              4.4               4.9
Italy                       1.752955             11.2               6.7
Japan                       1.652194              8.4               9.5
Korea                       1.545777              NaN               4.3
Luxembourg                  1.701361              2.2               4.9
Mexico                      1.755798              NaN               8.8
Netherlands                 1.614444              3.9               6.2
New Zealand                 1.676001              8.5               6.1
Norway                      1.692809              2.5               4.8
Poland                      1.632217              1.7               6.1
Portugal                    1.689477              8.4               7.5
Slovak Republic             1.712179              6.3               7.2
Spain                       1.636259              8.5               7.1
Sweden                      1.630063              4.7               4.2
Switzerland                 1.650385              7.2               7.0
Turkey                      1.704249             37.7              11.3
United Kingdom              1.690351              9.3               7.5
United States               1.725965              6.1               8.1

                 Infant.mortality      ...        \
Australia                     5.0      ...
Austria                       4.2      ...
Belgium                       3.7      ...
Canada                        5.3      ...
Czech Republic                3.4      ...
Denmark                       4.4      ...
Finland                       3.0      ...
France                        3.6      ...
Germany                       3.9      ...
Greece                        3.8      ...
Hungary                       6.2      ...
Iceland                       2.3      ...
Ireland                       4.0      ...
Italy                         4.7      ...
Japan                         2.8      ...
Korea                         5.3      ...
Luxembourg                    2.6      ...
Mexico                       18.8      ...
Netherlands                   4.9      ...
New Zealand                   5.1      ...
Norway                        3.1      ...
Poland                        6.4      ...
Portugal                      3.5      ...
Slovak Republic               7.2      ...
Spain                         4.1      ...
Sweden                        2.4      ...
Switzerland                   4.2      ...
Turkey                       23.6      ...
United Kingdom                5.1      ...
United States                 6.8      ...

                 Vaccination.rates..pertussis.  Vaccination.rates.measles.  \
Australia                                 92.2                        94.0
Austria                                   83.0                        74.0
Belgium                                   97.0                        88.0
Canada                                    78.0                        94.0
Czech Republic                            98.7                        96.6
Denmark                                   95.0                        96.0
Finland                                   97.0                        97.0
France                                    98.0                        87.1
Germany                                   97.8                        94.0
Greece                                    88.0                        88.0
Hungary                                   99.8                        99.8
Iceland                                   97.0                        94.0
Ireland                                   90.0                        84.0
Italy                                     94.7                        87.3
Japan                                     93.0                        94.0
Korea                                     97.0                        90.2
Luxembourg                                 NaN                         NaN
Mexico                                    98.1                        96.4
Netherlands                               95.8                        96.3
New Zealand                               88.6                        82.0
Norway                                    91.0                        88.0
Poland                                    99.0                        97.0
Portugal                                  93.3                        92.7
Slovak Republic                           99.2                        99.5
Spain                                     96.2                        96.8
Sweden                                    99.0                        95.0
Switzerland                               96.0                        86.0
Turkey                                    90.0                        91.0
United Kingdom                            91.4                        83.8
United States                             85.7                        91.5

                 Physical.activity  Mortality.rates  Suicide.rates  Smoking  \
Australia                      NaN            23.66       8.512646      NaN
Austria                       19.6            24.57       9.482761     27.1
Belgium                       19.1            28.97       8.977713     16.7
Canada                        23.6            23.43      10.047535      8.6
Czech Republic                22.0            24.92       6.212492     21.5
Denmark                       22.7            22.93       5.942231     15.0
Finland                       24.8            23.54      12.158687     22.0
France                        13.5            21.04       4.906704     19.0
Germany                       17.0            21.23       5.507378     19.5
Greece                        15.5            23.15       1.263026     16.5
Hungary                       19.5            25.75       6.806580     21.5
Iceland                       20.6            16.95       7.841312     13.5
Ireland                       31.1            21.97       9.517063     19.5
Italy                         15.1            21.76       2.437998     20.0
Japan                          NaN            18.23       7.728493      NaN
Korea                          NaN            22.36       6.784772      NaN
Luxembourg                    15.2            14.84       6.357194     19.0
Mexico                        18.1            50.23       5.128754      NaN
Netherlands                   21.2            20.49       3.496134     18.5
New Zealand                    NaN            32.05      15.949567      NaN
Norway                        15.6            21.49      10.094030     10.4
Poland                        17.3            28.13       8.863713     16.4
Portugal                      14.6            34.60       2.430484     10.6
Slovak Republic               42.1            30.15       5.036520     16.4
Spain                         20.3            23.49       2.599717     17.1
Sweden                        16.4            19.27       6.783234      8.5
Switzerland                   13.1            20.33       7.280508     15.0
Turkey                        20.0              NaN            NaN      NaN
United Kingdom                18.7            21.17       2.987869     15.9
United States                 26.8            32.67       7.696773      8.1

                 Drunkenness  Teenage.births  Bullying  Liking.school
Australia                NaN            14.3       NaN            NaN
Austria                 18.6            12.3      15.6           38.1
Belgium                 13.9             7.8      12.2           21.6
Canada                  18.8            13.2      14.0           29.5
Czech Republic          16.8            11.4       5.5           11.7
Denmark                 24.8             6.6       8.0           25.6
Finland                 22.4             9.7       8.0           16.1
France                  11.2             6.7      13.6           21.4
Germany                 15.1             9.8      13.9           34.9
Greece                  10.3             8.7      22.0           25.6
Hungary                 17.7            20.7       6.6           27.6
Iceland                 10.5            16.9       5.4           36.6
Ireland                 16.3            13.5       8.6           24.0
Italy                   10.0             6.8       7.9           12.8
Japan                    NaN             3.7       NaN            NaN
Korea                    NaN             3.7       NaN            NaN
Luxembourg              11.7             8.6      13.8           20.7
Mexico                   NaN            65.8       NaN            NaN
Netherlands             12.1             4.7       8.5           39.7
New Zealand              NaN            23.4       NaN            NaN
Norway                  14.0             9.4       8.3           41.7
Poland                  19.9            14.5       9.6           21.1
Portugal                10.9            18.1      14.1           22.8
Slovak Republic         16.8            20.0       NaN           13.0
Spain                   16.1             9.1       4.7           23.9
Sweden                  13.8             6.8       4.2           24.1
Switzerland             11.4             4.5      12.1           27.3
Turkey                   NaN            39.7      25.3           57.4
United Kingdom          22.1            24.8       9.7           35.7
United States           10.2            49.8      11.9           26.4

[30 rows x 21 columns]>

In [76]:
data.index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States'],
      dtype='object')

In [77]:
data.columns

Index(['Average.disposable.income', 'Children.in.poor.homes',
       'Educational.Deprivation', 'Overcrowding',
       'Poor.environmental.conditions', 'Average.mean.literacy.score',
       'Literacy.inequality', 'Youth.NEET.rate', 'Low.birth.weight',
       'Infant.mortality', 'Breastfeeding.rates',
       'Vaccination.rates..pertussis.', 'Vaccination.rates.measles.',
       'Physical.activity', 'Mortality.rates', 'Suicide.rates', 'Smoking',
       'Drunkenness', 'Teenage.births', 'Bullying', 'Liking.school'],
      dtype='object')

In [78]:
data.sort_values(by='Drunkenness',ascending=True)['Drunkenness']

Italy              10.0
United States      10.2
Greece             10.3
Iceland            10.5
Portugal           10.9
France             11.2
Switzerland        11.4
Luxembourg         11.7
Netherlands        12.1
Sweden             13.8
Belgium            13.9
Norway             14.0
Germany            15.1
Spain              16.1
Ireland            16.3
Slovak Republic    16.8
Czech Republic     16.8
Hungary            17.7
Austria            18.6
Canada             18.8
Poland             19.9
United Kingdom     22.1
Finland            22.4
Denmark            24.8
Australia           NaN
Japan               NaN
Korea               NaN
Mexico              NaN
New Zealand         NaN
Turkey              NaN
Name: Drunkenness, dtype: float64

In [79]:
data.nsmallest(columns='Infant.mortality', n=1)['Infant.mortality']

Iceland    2.3
Name: Infant.mortality, dtype: float64

In [80]:
mean = data.mean()['Physical.activity']
data.loc[data['Physical.activity'] < mean]['Physical.activity']

Austria           19.6
Belgium           19.1
France            13.5
Germany           17.0
Greece            15.5
Hungary           19.5
Italy             15.1
Luxembourg        15.2
Mexico            18.1
Norway            15.6
Poland            17.3
Portugal          14.6
Sweden            16.4
Switzerland       13.1
Turkey            20.0
United Kingdom    18.7
Name: Physical.activity, dtype: float64

In [82]:
fuel = pd.read_table(r"d.fuel.dat", sep=",", index_col=0)

In [83]:
fuel.loc[5]

weight     2440
mpg          32
type      Small
Name: 5, dtype: object

In [84]:
fuel.loc[1:5]

   weight  mpg   type
X
1    2560   33  Small
2    2345   33  Small
3    1845   37  Small
4    2260   32  Small
5    2440   32  Small

In [85]:
fuel.mean()["mpg"]

24.583333333333332

In [86]:
fuel.loc[7:22].mean()["mpg"]

27.75

In [87]:
t_kml = fuel["mpg"]*(1.6093/3.789)
t_kg = fuel["weight"]*0.45359

In [88]:
print("Mittelwert Reichweite: " + str(t_kml.mean()))
print("Mittelwert Fahrzeuggewichte: " + str(t_kg.mean()))

Mittelwert Reichweite: 10.441266385149994
Mittelwert Fahrzeuggewichte: 1315.7889916666668

In [106]:
import numpy as np
farm_area = pd.Series([2.1,2.4,2.8,3.1,4.2,4.9,5.1,6.0,6.4,7.3,10.8,12.5,13.0,13.7,14.8,17.6,19.6,23.0,25.0,35.2,39.6])

In [107]:
print(farm_area.sum())
print((farm_area**2).sum())

269.1
5729.27

In [115]:
mittelwert = farm_area.sum()/farm_area.size
print(mittelwert)

12.814285714285715

In [116]:
np.sqrt(1/(farm_area.size - 1)*((farm_area-mittelwert)**2).sum())

10.679292378911898

In [149]:
middle = (farm_area.size-1)/2
median = farm_area.sort_values().loc[int(np.floor(middle)):int(np.ceil(middle))].sum()
if (farm_area.size%2!=1):
    median = median / 2
print(median)

10.8

In [150]:
print(farm_area.mean())
print(farm_area.std())
print(farm_area.median())

12.814285714285715
10.679292378911898
10.8

In [151]:
std_var = ((farm_area-farm_area.mean())/farm_area.std())
ar_mittel = std_var.sum()/farm_area.size
print(ar_mittel)

-2.114710523095536e-17

In [152]:
std_var = np.sqrt(1/(farm_area.size - 1)*((std_var - ar_mittel)**2).sum())
print(std_var)

1.0